.container{
    width: 350px;
    height:300px;
    background-color:cadetblue;
    margin: 10px;
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;

    /* work for single row*/
    justify-content:right;

    

    /* works on all the rows*/
    align-content:space-around;
    
}

.item{
    border: solid black 2px;
    width: 40px;
    height: 40px;
    background-color: chocolate;
    margin: 10px;

    padding: 10px;
    
}